<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
            <h1>builtinfilters</h1>
            <h1>{{data}}</h1>
            <h1>{{data|upper}}</h1>
            <h1>{{data|lower}}</h1>
            <h1>{{data|title}}</h1>
            <h1>{{data|capfirst}}</h1>
            <h1>{{data|length}}</h1>
            <h1>{{data|truncatewords:'3'}}</h1>
            <h1>{{data|truncatechars:'5'}}</h1>
            <h1>{{data|slice:'3'}}</h1>
            <h1>{{t|date:'d S, F, Y,h:i:s  A'}}</h1>
            <h2>I have {{c}} cat{{c|pluralize}}</h2>
            <h2>I have {{c}} mango{{c|pluralize:'es'}}</h2>
            <h2>There {{c|pluralize:'is,are'}} {{c|pluralize:'a,some'}} book{{c|pluralize:'s'}}</h2>
            <h2>This cat{{c|pluralize}} {{c|pluralize:'is,are'}} mine</h2>
            
            


    </center>
</body>
</html>